.ch-form-container{
    display: flex;
    justify-content: center;
    .ch-form{
        width: 80%;


        .shippig-from{
       width: 500px;
       .btn{
           margin-left: auto;
       }
        }

    }
}