.cart-container {
    display        : flex;
    width          : 100%;
    justify-content: center;
    margin-top     : 50px;

    .sub-container {
        width: 80%;
    }
}

.cart {
    width: 75%;
}

.cart-table {
    border-collapse: collapse;
    border-spacing : 0;
    width          : 100%;
    
    .table-header {
        font-size    : 14px;
        border-bottom: 1px solid #666;

        th {
            padding   : 20px 10px;
            text-align: initial;
        }
    }

  
}