.navbarContainer {
  
    background-color: #f0f0f0;
    width: 100%;

    .navbar {
        width     : 80%;
        height    : 100%;
        margin    : auto;
        display: flex;

        .navbar__TextContainer {
            display        : flex;
            justify-content: space-between;
            width: 60%;
            align-items: center;
            z-index: 5;
            

            >span{
                cursor: pointer;
            }
        }

    }
}