.sidebar-collepse {
    border-bottom: 1px solid #ccc;

}

.slider-collepse-dropdown {
    display        : none;
    list-style-type: none;
    padding        : 0 0 0px 15px;
    font-family    : -webkit-pictograph;



    .slider-collepse-dropdown-list {
        margin: 5px;
        cursor: pointer;
        width : fit-content
    }
}


.abc {
    display: block;
}


.sidebar-shopping-options {

    border-bottom: 1px solid #ccc;
    padding      : 10px 10px 20px;
}

.sidebar-collepse-header {
    font-size      : 13px;
    font-weight    : 700;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin         : 0 6px;
    cursor         : pointer;

    .sidebar-collepse-icon-down {
        font-size: 25px;
    }

}