.ch-form-container {
    display        : flex;
    justify-content: center;

    .ch-form {
        width: 80%;


        .shippig-from {
            .shippng-header {
                font-size    : 35px;
                margin       : 15px 0;
                border-bottom: 2px dashed;
            }

            .checkBox {
                font-size: 18px;
                color    : grey;

                label {
                    cursor: pointer;
                }
            }

            width: 500px;

            .btn {
                margin-left: auto;
            }
        }

    }
}