.sizes-text {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #f0f0f0;
    color          : #949494;
    border         : 1px solid #d7d7d7;
    height         : 38px;
    width          : 52px;
    margin         : 0 7px 5px 0;
    border-radius  : 2px;


}