.cart-item {
    border-bottom: 1px solid #ccc;
    display      : flex;
    font-size    : 14px;
    margin: 18px 20px 0 20px;
    position: relative;
}
.image-container{
    min-width: 90px;
.cart-img {
    max-height: 200px;
    max-width : 90px;
}
}


.item-icons{
    font-size: 20px;
    color: #666;
    position: absolute;
   right: 10px;
  bottom: 30px;

    span{
        margin-left: 15px;
        cursor: pointer;
    }
}

.ca-it-info {
    margin-bottom: 15px;

    .ca-it-list {
        list-style-type: none;
        padding        : unset;
        position: relative;
        
    }

  

    .ca-list-item {
       
        margin: 8px 0;

        a{
            text-decoration: none;
            font-weight: 600;
        }

        .ca-item-input {
            font-size: 16px;
            padding: 2px 4px;
            width: 42px;
            margin-left: 6px;
            text-align: center;
            border: 0.5px solid #666;
        }

        .ca-it-detail-text{
            cursor: pointer;
        .arrow-down{
            font-size: 14px;
            margin-left: 2px;
            color: black;
        }
        }
        .details{
            display: flex;
            flex-direction: column;
            padding-bottom: 5px;
            strong{
                color: black;
                padding-left: 2px;
            }
        }

        .ca-price {
            font-weight: 900;
            color      : black;
        }


    }
}
