.drop-down-navlink {
    pointer-events: none;
}

.dropdown {
    position: relative;
    height  : 100%;
    width   : 100%;

    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .navItem {
        height : 100%;
        padding: 10px 0;

        .dropdownPanel {
            display         : none;
            position        : absolute;
            width           : auto;
            height          : auto;
            box-shadow      : -6px 5px 16px 0 rgba(0, 0, 0, 0.2);
            list-style-type : none;
            padding-left    : unset;
            margin-top      : 10px;
            z-index         : 1;
            background-color: #f9f9f9;

          
        }

        &:hover {
            .dropdownPanel {
                display: block;
            }
        }
    }


}